body {
	margin: 0;
	background-color: #2e3035;
}
#grid-container {
	display: flex;
	margin-left: 7%;
	margin-right: 5%;
	gap: 20px;
	position: relative;
	z-index: 1;
	top: -50px;
	
}
#grid-container .grid {
	display: grid;

	
}

#grid-container .grid > div {
	display: flex;
	flex-direction: column;
}
#grid-container .image-div > img {
	width: 100%;
}
#grid-container .title-div,
.metadata-div {
	padding: 5%;
	padding-bottom: 10px;
	background-color: #474a51;
	color: #fff;
}

#grid-container .title-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	padding: 5%;
	box-sizing: border-box;
}
.metadata-div,
.comment,
.post-view {
	display: flex;
	align-items: center;
}
.metadata-div {
	padding-top: 10px;
	justify-content: space-between;
}
.vote {
	display: flex;
	width: 30%;
	justify-content: space-evenly;
}
.vote-up {
	color: #cececc;
	cursor: pointer;
}
.vote-up:hover {
	color: greenyellow;
}
.vote-down {
	color: #cecece;
	cursor: pointer;
}
.vote-down:hover {
	color: red;
}
.comment,
.post-view {
	width: 15%;
	justify-content: space-between;
}
.comment-svg,
.post-view-svg {
	color: #cecece;
	cursor: pointer;
}
.comment-svg:hover,
.post-view-svg:hover {
	color: #fff;
}
